<app-add-assembly-line (create)="addAssemblyLine()"></app-add-assembly-line>

<mat-card *ngFor="let assemblyLine of assemblyLines$ | async">

    <div class="textcontainer">

        <div class="textsubcontainer">
            <div class="label">Assembly line name:</div>
            <div class="assembly-line-data">
            {{assemblyLine.name}}
            </div>
        </div>

        <div class="textsubcontainer">
            <div class="label">State:</div>

            <div *ngIf="assemblyLine.active==true; else elseBlock" class="assembly-line-data" id="active">
            active
            </div>
            <ng-template #elseBlock class="assembly-line-data"> 
            <div id="inactive">inactive</div> 
            </ng-template>
        </div>

        <div class="textsubcontainer">
            <div class="label">Assembly line id:</div>
            <div class="assembly-line-data">
            {{assemblyLine.id}}
            </div>
        </div>

    </div>

    <div class="buttoncontainer">
        <button (click)="changeState(assemblyLine.id)" color="accent" mat-raised-button>
            <span>change<br>state</span>
         </button>

        <button (click)="delete(assemblyLine.id)" class="button" mat-icon-button>
            <mat-icon color="warn">delete</mat-icon>
            </button>
    </div>

</mat-card>