mat-card {
    margin-bottom: 1em;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    user-select: none;
  
}

.buttoncontainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#selectProduct {
    height: 35px;
    text-align: center;
    font-size: 15px;
}

.textcontainer {
    width: 80%;
}

div {
    word-wrap: break-word;
}

.label {
    font-size: small;
    font-weight: 100;
    width: 15%;
}

.assembly-line-data {
    max-width: 85%;
}

.textsubcontainer {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#active {
    color: green;
}

#inactive {
    color: red;
}

#changeStateButton {
    min-width: 120px;
}
