<app-add-assembly-line (create)="addAssemblyLine()"></app-add-assembly-line>

<mat-card *ngFor="let assemblyLine of assemblyLines$ | async">

    <div class="textcontainer">

        <div class="textsubcontainer">
            <div class="label">Assembly line name:</div>
            <div class="assembly-line-data">
            {{assemblyLine.name}}
            </div>
        </div>

        <div class="textsubcontainer">
            <div class="label">State:</div>

            <div *ngIf="assemblyLine.active==true; else elseBlock" class="assembly-line-data" id="active">
            active
            </div>
            <ng-template #elseBlock class="assembly-line-data"> 
            <div id="inactive">inactive</div> 
            </ng-template>
        </div>

        <div class="textsubcontainer">
            <div class="label">Assembly line id:</div>
            <div class="assembly-line-data">
            {{assemblyLine.id}}
            </div>
        </div>

        <div class="textsubcontainer">
            <div class="label">Assigned product:</div>
            <div class="assembly-line-data">
            {{assemblyLine.product_id}}
            </div>
        </div>

    </div>

    <div class="buttoncontainer">
        <button (click)="changeState(assemblyLine.id)" color="accent" mat-raised-button id="changeStateButton">
            <span *ngIf="assemblyLine.active==true; else elseBlock2">deactivate</span>
            <ng-template #elseBlock2> 
                <span #elseBlock2>activate</span>
            </ng-template>
         </button>

         
         <select 
         id = "selectProduct"
         *ngIf="assemblyLine.product_id==null; else elseBlock3"
         (change)="assignProduct(assemblyLine.id, productId); productId = 0" 
         [value] = "productId" 
         [(ngModel)] = "productId">
            <option [ngValue]="0" disabled>assign product</option> 
            <option *ngFor="let product of products$ | async" [ngValue]="product.id">
             {{product.name}} (id: {{product.id}})
            </option>
        </select>
        
        <ng-template #elseBlock3> 
         <button (click)="removeProductAssignment(assemblyLine.id)" color="accent" mat-raised-button id="changeStateButton">
            <span>remove assignment</span>
         </button>
        </ng-template>
        

        <button (click)="delete(assemblyLine.id)" class="button" mat-raised-button color="accent">
            <span>delete assembly line</span>
            </button>

    </div>

</mat-card>